/* General Resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header .logo img {
    height: 60px;
    width: auto;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #540D6E;
    color: #fff;
  }
  /* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #540D6E;
    color: #fff;
  }
  
  header .logo {
    display: flex;
    align-items: center;
  }
  
  header .logo h1 {
    font-size: 24px;
    margin-left: 10px;
    color: #fff;
  }
  
  header .button-group a {
    text-decoration: none;
  }
  
  header .button-group button {
    background-color: #3BCEAC;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  header .button-group button:hover {
    background-color: #039aff;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header .button-group button a {
    color: #fff;
  }
  /* Main Content styles */
  main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #map {
    width: 100%;
    max-width: 100%;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  .route-legend {
    display: inline-block;
    width: 10px;
    height: 20px;
    margin-right: 5px;
    border: 2px solid;
    /* Outros estilos da legenda da rota */
}

.route-description-container {
  background-color: #f5f5f5;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  /* Outros estilos desejados */
}

.route-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.route-list li {
  margin-bottom: 10px;
}


  
  /* Footer styles */
  footer {
    background-color: #540D6E;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    flex-shrink: 0;
  }
  
  
  /* Responsive */
  @media (max-width: 768px) {
    header {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  
    header .logo {
      margin-bottom: 10px;
    }
  
    main {
      padding: 10px;
    }
  
    #map {
      height: 40vh;
    }
  }
  