/* General Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #540D6E;
  color: #fff;
}

header .logo img {
  height: 60px;
  width: auto;
}

header h1 {
  font-size: 24px;
}

header .button-group {
  display: flex;
  gap: 10px;
}

header .button-group a {
  text-decoration: none;
}

header .button-group button {
  background-color: #3BCEAC;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

header .button-group button:hover {
  background-color: #005999;
}

/* Main Content styles */
main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#map {
  flex: 1 1 100%;
  height: 400px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* começa o controles */




section#controls {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

section#controls h2 {
  flex-basis: 100%;
  margin-bottom: 10px;
}

section#controls .row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

section#controls .row button {
  background-color: #3BCEAC;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

section#controls .row:nth-child(odd) button {
  background-color: #28a745;
}

section#controls .row:nth-child(even) button {
  background-color: #FFD23F;
}

section#controls .notification-buttons button {
  background-color: #EE4266;
  color: #fff;
}

section#controls .route-buttons button:nth-child(2) {
  background-color: #3BCEAC;
}

section#controls .color-picker {
  display: flex;
  align-items: center;
}

section#controls .color-picker label {
  margin-right: 5px;
}

section#controls .color-picker input[type="color"] {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 4px;
}








/* acaba o controles */
section#routeList {
  flex: 1 1 100%;
}

section#routeList h2 {
  margin-bottom: 10px;
}

section#routeList ul {
  list-style-type: none;
  margin-bottom: 10px;
}

section#routeList .details {
  margin-bottom: 10px;
}

section#routeList button {
  background-color: #3BCEAC;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin-bottom: 10px;
}

section#routeList button#editButton {
  background-color: #FFD23F;
}

section#routeList button#saveButton {
  background-color: #007bff;
}

section#routeList button#nextButton {
  background-color: #17a2b8;
}

section#routeList ul#routes {
  flex: 1 1 calc(50% - 5px);
}

section#routeList ul#lines {
  flex: 1 1 calc(50% - 5px);
}

/* Footer styles */
footer {
  background-color: #540D6E;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header .button-group {
    margin-top: 10px;
  }

  header h1 {
    font-size: 20px;
    margin-top: 10px;
  }

  #map {
    height: 300px;
  }

  section#controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  section#controls button,
  section#routeList button {
    width: calc(50% - 5px);
    max-width: none;
  }
}
